<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Articles and Blog Posts</h1>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to 'Write new blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
