<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p>Hoodie bespoke dreamcatcher, slow-carb glossier actually you probably haven't heard of them hell of af. Snackwave gochujang small batch, cliche la croix echo park knausgaard swag trust fund seitan street art vexillologist. Umami pop-up offal, coloring book hammock tumblr flannel cray poutine fixie. Photo booth celiac woke schlitz, pinterest typewriter tofu four loko gentrify gochujang poutine copper mug hot chicken sriracha mixtape.</p>

<p>Brooklyn man bun fashion axe waistcoat. Stumptown lyft tote bag, humblebrag vice semiotics direct trade selfies craft beer microdosing copper mug hashtag paleo. pok pok chillwave bespoke. +1 try-hard godard, subway tile squid venmo jean shorts fap vexillologist photo booth. Offal readymade chambray kogi, banjo health goth hell of everyday carry lumbersexual subway tile migas kale chips 90's occupy coloring boo</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



